@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hind+Madurai:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: .5s;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

body {
  position: relative;
}

@import "header";
@import "clinic";
@import "menu";
@import "history";
@import "help";
@import "question";
@import "store";
@import "maps";
@import "footer";

