@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Hind+Madurai:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

body {
  position: relative;
}

.header {
  background: #FFFEFE;
  width: 100%;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.header__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  cursor: pointer;
}
.header__link {
  color: var(--brown-light, #C3B9B5);
  font-size: 20px;
  font-weight: 700;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.header__desc {
  color: var(--orange, #FFC59E);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  word-spacing: 6px;
  margin-top: 40px;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .header__nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 886px) {
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__center {
    text-align: center;
  }
  .header__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    font-size: 15px;
  }
  .header__right {
    text-align: center;
    margin-top: 20px;
  }
}
@media (max-width: 992px) {
  .header__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
  .header__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
  }
}
@media (max-width: 676px) {
  .header__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
.clinic {
  width: 100%;
  background: #FFFEFE;
}
.clinic__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
}
.clinic__left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.clinic__list {
  margin-bottom: 70px;
}
.clinic__lists {
  color: var(--brown-light, #C3B9B5);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  padding-top: 130px;
}
.clinic__center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  padding: 0 0 0 0;
}
.clinic__title {
  color: var(--text, #080606);
  font-size: 70px;
  font-weight: 400;
  padding: 151px 0 50px 0;
}
.clinic__btn {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  width: 230px;
  height: 48px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 33.5px;
  background: var(--orange, #FFC59E);
  -webkit-box-shadow: 0px 4px 20px 0px #FFC59E;
          box-shadow: 0px 4px 20px 0px #FFC59E;
  outline: none;
  cursor: pointer;
  border: none;
  margin-bottom: 197px;
}
.clinic__links {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.clinic__right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.clinic .swiper {
  width: 100%;
  max-width: 900px;
  height: 916px !important;
  position: relative;
  padding-left: 50px;
}
.clinic .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  background: transparent;
  font-size: 20px;
  font-weight: 700;
}

.swiper-pagination-bullet-active {
  position: relative;
  background: url("../assets/process.svg") center/cover no-repeat;
  padding: 10px 14px;
  color: var(--text, #080606);
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 992px) {
  .clinic__right-cat {
    width: 180px;
  }
  .clinic__right-dog {
    width: 400px;
  }
  .clinic__link {
    padding-bottom: 300px;
  }
}
@media (max-width: 676px) {
  .clinic__title {
    font-size: 50px;
  }
  .clinic__links {
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .clinic__title {
    font-size: 40px;
  }
  .clinic__right-dog {
    width: 300px;
  }
  .clinic__right-cat {
    width: 150px;
  }
  .clinic__links {
    gap: 2px;
  }
}
@media (max-width: 425px) {
  .clinic__btn {
    font-size: 20px;
  }
}
.menu {
  width: 100%;
  background: #FFFEFE;
}
.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 150px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.menu__card {
  width: calc(25% - 24px);
  border-radius: 20px;
  -webkit-box-shadow: -2px 2px 6px 1px rgba(34, 60, 80, 0.2);
          box-shadow: -2px 2px 6px 1px rgba(34, 60, 80, 0.2);
  background: #FFF;
  padding: 24px 24px;
  cursor: pointer;
  margin: 10px;
}
.menu-img {
  max-width: 100%;
  height: auto;
}
.menu__subtitle {
  color: var(--brown, #59443F);
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  padding: 24px 0 0 0;
}
.menu__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 22px 0 0 0;
}
.menu__text {
  color: var(--brown, #59443F);
  font-size: 20px;
  font-weight: 400;
  margin: 24px 40px 0 0;
}

@media (max-width: 992px) {
  .menu__card {
    width: calc(25% - 30px);
    margin: 10px;
  }
  .menu__subtitle {
    font-size: 20px;
  }
  .menu__text {
    font-size: 16px;
    margin-right: 10px;
  }
}
@media (max-width: 886px) {
  .menu__card {
    width: calc(33.33333% - 20px);
    margin: 15px;
  }
}
@media (max-width: 576px) {
  .menu__card {
    width: calc(50% - 20px);
    margin: 15px;
  }
}
.history {
  width: 100%;
  padding: 180px 0;
  background: #FBF8F8;
  position: relative;
}
.history .swiper {
  width: 80%;
}
.history .swiper__box {
  position: relative;
}
.history .swiper-button-prev-el {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 3%;
  z-index: 999;
  display: inline-block;
}
.history .swiper-button-prev-el:hover svg g path {
  fill: #e85f02;
}
.history .swiper-button-prev-el:hover svg path {
  fill: white;
}
.history .swiper-button-next-el {
  z-index: 999;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 3%;
  display: inline-block;
}
.history .swiper-button-next-el:hover svg g path {
  fill: #e85f02;
}
.history .swiper-button-next-el:hover svg path {
  fill: white;
}
.history__row {
  text-align: center;
}
.history__title {
  color: var(--text, #080606);
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}
.history__text {
  color: var(--brown, #59443F);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: start;
  padding: 48px 511px 36px 510px;
}
.history__titles {
  color: var(--orange, #FFC59E);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
}
.history__subtitle {
  color: var(--text, #080606);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  padding-bottom: 48px;
}
.history-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

@media (max-width: 992px) {
  .history__text {
    padding: 48px 300px 36px 300px;
  }
  .swiper {
    width: 100%;
  }
  .swiper-wrapper {
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}
@media (max-width: 768px) {
  .history__text {
    padding: 48px 200px 36px 200px;
  }
}
@media (max-width: 676px) {
  .history__text {
    padding: 48px 100px 36px 100px;
  }
}
.help {
  width: 100%;
  background: #FFFEFE;
  padding: 316px 0 316px 0;
  position: relative;
}
.help__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.help__title {
  color: var(--brown, #59443F);
  font-size: 144px;
  font-weight: 700;
  line-height: 110px;
  text-align: center;
  margin-bottom: 20px;
}
.help__text {
  color: var(--text, #080606);
  font-size: 80px;
  font-weight: 400;
  line-height: 110px;
  text-align: center;
}
.help img {
  position: absolute;
  right: 380px;
  bottom: 150px;
}

@media (max-width: 676px) {
  .help__title {
    font-size: 100px;
  }
  .help__text {
    font-size: 50px;
  }
  .help__img {
    width: 200px;
  }
}
.question {
  width: 100%;
}
.question__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 70px;
  -webkit-column-gap: 94px;
     -moz-column-gap: 94px;
          column-gap: 94px;
  padding: 0 0 100px 0;
}
.question__title {
  color: var(--text, #080606);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  padding: 0 0 104px 0;
}
.question__card {
  width: calc(33.33333% - 62.66666px);
}
.question__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.question__cards span {
  padding: 20px 49px 0 0;
}
.question__titles {
  color: var(--text, #080606);
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 36px;
}
.question__text {
  color: var(--brown, #59443F);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 992px) {
  .question__row {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .question__text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .question__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .question__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .question__titles {
    font-size: 20px;
  }
  .question__text {
    font-size: 16px;
  }
}
.store {
  width: 100%;
  background: var(--orange, #FFC59E);
  padding: 200px 0 400px 150px;
}
.store__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.store__left {
  width: 60%;
}
.store__left span {
  padding-top: 30px;
}
.store__left-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.store__title {
  color: #FFF;
  font-size: 80px;
  font-weight: 400;
}
.store__right {
  width: 40%;
  position: absolute;
  right: 230px;
  top: 55px;
}
.store__right-img {
  position: absolute;
  left: 55%;
  bottom: -10%;
}
.store__label-img {
  padding: 0 50px 50px 50px;
}
.store__form {
  position: absolute;
  bottom: 0;
  left: 70%;
  background: white;
  padding: 200px 50px 100px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  row-gap: 20px;
}
.store__field {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  background: #ede9e8;
  border: none;
  outline: none;
  padding-left: 15px;
}
.store__btn {
  padding: 10px 0;
  background: #FFC59E;
  border-radius: 30px;
  color: white;
  border: none;
  -webkit-box-shadow: 1px 9px 8px -4px rgba(34, 60, 80, 0.2);
          box-shadow: 1px 9px 8px -4px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}
.store__text {
  text-align: center;
  color: #FFC59E;
}

@media (max-width: 992px) {
  .store__title {
    font-size: 50px;
  }
  .store__left-svg {
    padding-top: 50px;
  }
}
@media (max-width: 886px) {
  .store {
    padding-left: 50px;
  }
  .store__title {
    font-size: 40px;
  }
  .store__left-svg {
    padding-top: 100px;
  }
}
@media (max-width: 676px) {
  .store__title {
    font-size: 35px;
  }
  .store__left-svg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 200px;
  }
  .store__form {
    width: 230px;
    padding: 80px 20px 50px;
  }
  .store__img {
    width: 400px;
  }
}
@media (max-width: 576px) {
  .store__right {
    width: 35%;
  }
  .store__title {
    font-size: 30px;
  }
  .store__form {
    width: 190px;
    padding: 50px 10px 30px;
    position: absolute;
    left: 90%;
  }
  .store__img {
    width: 300px;
  }
}
.maps {
  width: 100%;
}
.maps__row {
  padding: 150px 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.maps__left {
  width: 35%;
}
.maps__title {
  color: var(--text, #080606);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  padding: 0 290px 70px 0;
}
.maps__subtitle {
  color: var(--text, #080606);
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  padding: 0 0 21px 0;
}
.maps__text {
  color: var(--brown, #59443F);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  padding: 0 0 23px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.maps span {
  padding-right: 20px;
}
.maps__right {
  width: 65%;
  padding: 130px 0 0 30px;
}

@media (max-width: 676px) {
  .maps__row {
    padding: 159px 50px;
  }
  .maps__subtitle {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .maps__row {
    padding: 159px 30px;
  }
  .maps__subtitle {
    font-size: 25px;
  }
  .maps__text {
    width: 10px;
  }
}
.footer {
  width: 100%;
  background: #59443F;
  padding: 0 20px 60px 20px;
}
.footer__nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__left {
  padding: 89px 80px 0 0;
  width: 33.33333%;
}
.footer__left-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__left-title img {
  width: 100%;
}
.footer__titles {
  color: #FFF;
  font-size: 50px;
  font-weight: 700;
  padding: 0 0 0 22px;
}
.footer__desc {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}
.footer__text {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 39px 110px 0 110px;
}
.footer__center {
  width: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  padding-top: 250px;
}
.footer__center-item {
  margin-bottom: 5px;
}
.footer__center-item a {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}
.footer__right {
  padding: 80px 0 0 0;
  width: 33.33333%;
}
.footer__right-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__right-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.footer__right-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  padding: 30px 0 0 0;
}
.footer__right-link {
  cursor: pointer;
  padding-bottom: 30px;
}
.footer__right-refs {
  margin-bottom: 70px;
}
.footer__right-ref {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.footer__right-text {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}